<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke</td><td>Sample.tc00VerifyURL()[pri:0, instance:com.test.app.Sample@ce0bbd5]<br/></td></tr>
</table>
