<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82ac7f">  <td>21/07/03 10:07:36</td>   <td>0</td> <td title="&gt;&gt;TestBaseClass.setUp()[pri:0, instance:library.WebDriver@52963839]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@890696758</td>   <td></td> </tr>
<tr bgcolor="bc7d8c">  <td>21/07/03 10:07:43</td>   <td>7446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.tc00VerifyURL()[pri:0, instance:com.test.app.Sample@ce0bbd5]">tc00VerifyURL</td> 
  <td>main@890696758</td>   <td></td> </tr>
<tr bgcolor="82ac7f">  <td>21/07/03 10:08:01</td>   <td>25129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:com.test.app.Sample@ce0bbd5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@890696758</td>   <td></td> </tr>
<tr bgcolor="bc7d8c">  <td>21/07/03 10:08:01</td>   <td>25135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.tc01VerifyEnterText()[pri:0, instance:com.test.app.Sample@ce0bbd5]">tc01VerifyEnterText</td> 
  <td>main@890696758</td>   <td></td> </tr>
<tr bgcolor="82ac7f">  <td>21/07/03 10:08:12</td>   <td>35956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:com.test.app.Sample@ce0bbd5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@890696758</td>   <td></td> </tr>
<tr bgcolor="82ac7f">  <td>21/07/03 10:08:12</td>   <td>35985</td> <td title="&lt;&lt;TestBaseClass.tearDown()[pri:0, instance:library.WebDriver@52963839]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@890696758</td>   <td></td> </tr>
</table>
